<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="keywords" content="mootoh">
      <title>mootoh on github</title>
      <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/default.css">
   </head>
   <body>
   <header>
      <div><a href="http://github.com/mootoh"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub" /></a></div>
   </header>
   <div id="content">
   {{ content }}
   </div>
   <footer>
   </footer>
   </body>
</html>
